body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
    background-image: url('images/cooking-hotpot.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    background-color: blue;
    width:100%;
    position:fixed;
}

nav li{
    list-style:none;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

main {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: darkgreen;
}

main h1, h2 {
    font-size:3em;
    font-weight: 5em;
    font: bold;
}

main p {
    font-size: 2em;
    font-weight: 4em;
    font: bold;
}

.link { color: #ffffff; } 
.link:hover { color: #000000; } 
